@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Admin/AngularModel/angular-min-1.4.8.js"></script>
<script src="~/Areas/Admin/AngularModel/Tendor.js"></script>


<div ng-app="TendorModule" ng-controller="TendorController">
    <div ng-show="ViewList">
        <div>
            <h2 class="new_h2"> <strong>All Tenders</strong> </h2>
        </div>
        
        <div class="table-responsive">

            <input style="float:left;" type="button" ng-click="ADDNEW()" value="ADD NEW TENDOR" />

            <br />
            <table class="table new_table">

                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        Tender ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Active Date
                    </th>
                    <th>
                        Create By
                    </th>
                    <th>
                        Department Name
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Tender Fee (&#8377;)
                    </th>
                    <th>
                        EMD Fee (&#8377;)
                    </th>
                    <th>
                        Bid Start Date
                    </th>
                    <th>
                        Bid Submission Date
                    </th>
                    <th>
                        Download Start Date
                    </th>
                    <th>
                        Download End Date
                    </th>
                    <th>
                        Publish Date
                    </th>
                    <th>
                        Technical Bid Open Date
                    </th>
                    <th>
                        Financial Bid Open Date
                    </th>
                    @*<th>
                        Clarification Start Date
                    </th>
                    <th>
                        Clarification End Date
                    </th>*@
                </tr>

                <tr ng-repeat="item in TendorList">
                    <td>
                        <a href="javascript:void(0);" ng-click="Edit(item)">Edit</a>|
                        <a href="javascript:void(0);" ng-click="Delete(item.ID)">Delete</a>
                    </td>
                    <td>
                        {{item.TenderID}}
                    </td>
                    <td>
                        {{item.Title}}
                    </td>
                    <td>
                        {{item.ActiveDate | date : 'dd-MMM-yyyy'}}
                    </td>
                    <td>
                        {{item.UserName}}
                    </td>
                    <td>
                        {{item.DeptName}}
                    </td>
                    <td>
                        {{item.CateName}}
                    </td>
                    <td>
                        {{item.TenderFee}}
                    </td>
                    <td>
                        {{item.EMDFee}}
                    </td>
                    <td>
                        {{item.BidStartDate | date : 'dd-MMM-yyyy hh:mm:ss'}}
                    </td>
                    <td>
                        {{item.FreezeDate | date : 'dd-MMM-yyyy hh:mm:ss'}}
                    </td>
                    <td>
                        {{item.DownloadStartDate  | date : 'dd-MMM-yyyy'}}
                    </td>
                    <td>
                        {{item.DownloadEndDate | date : 'dd-MMM-yyyy'}}
                    </td>
                    <td>
                        {{item.PublishDate | date : 'dd-MMM-yyyy'}}
                    </td>
                    <td>
                        {{item.TechBidOpenDate | date : 'dd-MMM-yyyy hh:mm:ss'}}
                    </td>
                    <td>
                        {{item.FinancialBidOpenDate | date : 'dd-MMM-yyyy hh:mm:ss'}}
                    </td>
                    @*<td>
                        {{item.ClarificationStartDate | date : 'dd-MMM-yyyy'}}
                    </td>
                    <td>
                        {{item.ClarificationEndDate | date : 'dd-MMM-yyyy'}}
                    </td>*@

                </tr>
            </table>


        </div>
    </div>

    <div ng-show="CreateTendorForm">
        <div>
            <h1 class="new_h2"><strong>Tender Details </strong></h1>
        </div>

        <div class="table-responsive">

            <div>
                <table class="table new_table">

                    <tr>
                        <td>
                            <label>Title</label>
                            <input type="text" placeholder="Enter Title for Tendor" ng-model="TendorDetails.Title" required />
                        </td>


                        <td>
                            <label>Department</label>
                            <select ng-model="Departments.selected" ng-options="deptt.DeptName for deptt in Departments.lst track by deptt.ID" required></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Category</label>
                            <select ng-model="Category.selected" ng-options="catt.CatName for catt in Category.lst track by catt.ID" required></select>
                        </td>
                        <td>
                            <label>Active Date</label>
                            <input type="date" ng-model="TendorDetails.ActiveDate" placeholder="Active Date" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Download Start Date</label>
                            <input type="date" ng-model="TendorDetails.DownloadStartDate" placeholder="Download Start Date" required />
                        </td>
                        <td>
                            <label> Download End Date</label>
                            <input type="date" ng-model="TendorDetails.DownloadEndDate" placeholder="Download End Date" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style=" float: left; width: 100%;">Bid Start Date</label>
                            <input type="date" ng-model="TendorDetails.BidStartDate" placeholder="Bid Start Date" style="width:50%; float:left;" required />
                            <input type="time" ng-model="TendorDetails.BidStartDate" placeholder="Bid Start Date" style="width:45%; float:right;" required />
                        </td>
                        <td>
                            <label style=" float: left; width: 100%;">
                                Bid Submission Date
                            </label>
                            <input type="date" ng-model="TendorDetails.FreezeDate" placeholder="Freeze Date" style="width:50%; float:left;" required />
                            <input type="time" ng-model="TendorDetails.FreezeDate" placeholder="Freeze Date" style="width:45%; float:right;" required />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label style=" float: left; width: 100%;">
                                Technical Bid Open Date
                            </label>
                            <input type="date" ng-model="TendorDetails.TechBidOpenDate" placeholder="Bid Start Date" style="width:50%; float:left;" required />
                            <input type="time" ng-model="TendorDetails.TechBidOpenDate" placeholder="Bid Start Date" style="width:45%; float:right;" required />

                        </td>
                        <td>
                            <label style=" float: left; width: 100%;">
                                Financial Bid Open Date
                            </label>
                            <input type="date" ng-model="TendorDetails.FinancialBidOpenDate" placeholder="Bid Start Date" style="width:50%; float:left;" required />
                            <input type="time" ng-model="TendorDetails.FinancialBidOpenDate" placeholder="Bid Start Date" style="width:45%; float:right;" required />

                        </td>
                    </tr>

                    @*<tr>
                            <td>
                                Clarification Start Date
                                <input type="date" ng-model="TendorDetails.ClarificationStartDate" placeholder="Clarification Start Date" />
                            </td>
                            <td>
                                Clarification End Date
                                <input type="date" ng-model="TendorDetails.ClarificationEndDate" placeholder="Clarification End Date"  />
                            </td>
                        </tr>*@

                    <tr>
                        <td>
                            <label>Tender Fee (&#8377;)</label>
                            <input type="number" placeholder="Enter Tendor Fee" ng-model="TendorDetails.TenderFee" required />
                        </td>


                        <td>
                            <label>EMD Fee (&#8377;)</label>
                            <input type="number" placeholder="Enter EMD Fee" ng-model="TendorDetails.EMDFee" required />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Upload Tender Notice</label>
                            <input type="file" id="tendornotice" name="tendornotice" ng-files="getTheFilesTendorNotice($files)" required />
                            @*<input type="button" value="upload" ng-click="uploadtech()" />*@
                        </td>


                        <td>
                            <label> Tender Document</label>
                            <input type="file" id="tendordoc" name="tendordoc" ng-files="getTheFilesTendorDoc($files)" required />
                            @*<input type="button" value="upload" ng-click="uploadtech()" />*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Upload Tender BOQ File</label>
                            <input type="file" id="boqfile" name="boqfile" ng-files="getTheFilesBOQFile($files)" required />
                            @*<input type="button" value="upload" ng-click="uploadtech()" />*@
                        </td>
                    </tr>

                </table>

            </div> @*!--tender fee div-->*@


            <input type="button" value="Back" ng-click="BackToList();" />
            <input type="button" value="Continue >>" ng-click="MovetoCreate();" class="btn-primary" />
            @*<input type="button" value="Create Tendor" ng-click="CreateTendor()" />*@

        </div>

    </div>


    <div ng-show="SubmitTendor">
        <div>
            <h1 class="new_h2"><strong>Tender Details </strong></h1>
        </div>

        <div class="table-responsive">
            <form ng-submit="CreateTendor()">

                <div>

                    <table class="table new_table">

                        <tr>
                            <td>
                                <label>Title</label>
                                <input type="text" ng-model="TendorDetails.Title" disabled required />
                            </td>


                            <td>
                                <label>Department</label>
                                <input type="text" ng-model="Departments.selected.DeptName" disabled required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Category</label>
                                <input type="text" ng-model="Category.selected.CatName" disabled required />
                            </td>
                            <td>
                                <label>Active Date</label>
                                <input type="text" ng-model="TendorDetails.ActiveDate" disabled required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Download Start Date</label>
                                <input type="text" ng-model="TendorDetails.DownloadStartDate" disabled required />
                            </td>
                            <td>
                                <label>Download End Date</label>
                                <input type="text" ng-model="TendorDetails.DownloadEndDate" disabled required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style=" float: left; width: 100%;">Bid Start Date</label>
                                <input type="text" ng-model="TendorDetails.BidStartDate" disabled required />
                            </td>
                            <td>
                                <label style=" float: left; width: 100%;">
                                    Bid Submission Date
                                </label>
                                <input type="text" ng-model="TendorDetails.FreezeDate" disabled required />

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style=" float: left; width: 100%;">
                                    Technical Bid Open Date
                                </label>
                                <input type="text" ng-model="TendorDetails.TechBidOpenDate" disabled required />


                            </td>
                            <td>
                                <label style=" float: left; width: 100%;">
                                    Financial Bid Open Date
                                </label>
                                <input type="text" ng-model="TendorDetails.FinancialBidOpenDate" disabled required />

                            </td>
                        </tr>

                        @*<tr>
                                <td>
                                    Clarification Start Date
                                    <input type="date" ng-model="TendorDetails.ClarificationStartDate" placeholder="Clarification Start Date" />
                                </td>
                                <td>
                                    Clarification End Date
                                    <input type="date" ng-model="TendorDetails.ClarificationEndDate" placeholder="Clarification End Date"  />
                                </td>
                            </tr>*@

                        <tr>
                            <td>
                                <label>Tender Fee (&#8377;)</label>
                                <input type="text" ng-model="TendorDetails.TenderFee" disabled required />
                            </td>


                            <td>
                                <label>EMD Fee (&#8377;)</label>
                                <input type="text" ng-model="TendorDetails.EMDFee" disabled required />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Upload Tender Notice</label>
                                <input type="text" ng-model="filename1" disabled required />
                                @*<input type="button" value="upload" ng-click="uploadtech()" />*@
                            </td>


                            <td>
                                <label> Tender Document</label>
                                <input type="text" ng-model="filename2" disabled required />
                                @*<input type="button" value="upload" ng-click="uploadtech()" />*@
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Upload Tender BOQ File</label>
                                <input type="text" ng-model="filename3" disabled required />
                                @*<input type="button" value="upload" ng-click="uploadtech()" />*@
                            </td>
                        </tr>

                    </table>

                </div> @*!--tender fee div-->*@

                <input type="button" value="Back" ng-click="ADDNEW()" />
                <input type="submit" value="{{Action}}" class="btn-primary" />
                @*<input type="button" value="Create Tendor" ng-click="CreateTendor()" />*@
            </form>
        </div>
    </div>
</div>