@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<style>
    .new_table {
        width: 100%;
    }

    .table-responsive {
        overflow-x: scroll;
    }

    .new_a {
        cursor: pointer;
    }

    .label {
        padding-top: 20px;
        float: left;
    }
</style>

<script src="~/Areas/Admin/AngularModel/angular-min-1.4.8.js"></script>
<script src="~/Areas/Admin/AngularModel/VendorActivation.js"></script>

<div ng-app="VAModel" ng-controller="VAController">
    <div ng-show="ViewList">
        <div>
            <h2 class="new_h2"> <strong>Vendor List</strong> </h2>
        </div>

        <div class="table-responsive">
            <table class="table new_table">
                <tr>
                <th>
                    Action
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    Name Of Partners / Director
                </th>
                <th>
                    Establishment Year
                </th>
                <th>
                    Nature Of Business
                </th>
                <th>
                    Registered Address
                </th>
               <th>
                   PAN  Number
               </th>
                    <th>
                        TIN/VAT/Service Tax
                    </th>
                <th>
                    Contact Name
                </th>
              
                </tr>

                <tr ng-repeat="item in VendorDetails">
                    <td>
                        <a href="javascript:void(0);" ng-click="ViewDetails(item);">View Details</a>
                    </td>
                    <td>
                        {{item.CompanyName}}
                    </td>
                    <td>
                        {{item.NameOfPartners}}
                    </td>
                    <td>
                        {{item.EstablishmentYear}}
                    </td>
                    <td>
                        {{item.NatureOfBusiness}}
                    </td>
                    <td>
                        {{item.RegisteredAddressv + " " + item.City + " " + item.State + " " + item.PostalCode + " " + item.Country }}
                    </td>
                    <td>
                        {{item.PANNumber}}
                    </td>
                    <td>
                        {{item.TINNumber}}
                    </td>
                    <td>
                        {{item.Title + " " + item.ContactName}}
                    </td>
                </tr>
                </table>
</div>
    </div>

    <div ng-show="!ViewList">
       

        <div>
            <h2 class="new_h2"><strong>Vendor Details</strong></h2>
        </div>
        <div class="table-responsive">

            <table class="table new_table">
                <tr>
                    <th>
                        <h2><strong>Company Detail</strong></h2>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <label>Company Name</label>
                        <p>{{VendorData.CompanyName}}</p>
                    </td>
                    <td>
                        <label>Registration Number</label>
                        <p>{{VendorData.RegistrationNo}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Registered Address</label>
                        <p>{{VendorData.RegisteredAddress}}</p>
                    </td>
                    <td>
                        <label>Name Of Partners / Director</label>
                        <p>{{VendorData.NameOfPartners}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>City</label>
                        <p>{{VendorData.City}}</p>
                    </td>
                    <td>
                        <label>State</label>
                        <p>{{VendorData.State}}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Postal Code</label>
                        <p>{{VendorData.PostalCode}}</p>
                    </td>
                    <td>
                        <label>Country</label>
                        <p>{{VendorData.Country}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Establishment Year</label>
                        <p>{{VendorData.EstablishmentYear}}</p>
                    </td>
                    <td>
                        <label>Nature Of Business</label>
                        <p>{{VendorData.NatureOfBusiness}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Legal Status</label>
                        <p>{{VendorData.LegalStatus}}</p>
                    </td>
                    <td>
                        <label>Company Category</label>
                        <p>{{VendorData.CompanyCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PAN Number</label>
                        <p>{{VendorData.PANNumber}}</p>
                    </td>
                    <td>
                        <label>TIN Number</label>
                        <p>{{VendorData.TINNumber}}</p>
                    </td>
                </tr>
            </table>
            <table class="table new_table">
                <tr>
                    <th>
                        <h2><strong>Contact Details</strong></h2>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <label>Contact Name</label>
                        <p>{{VendorData.Title + " " + VendorData.ContactName}}</p>
                    </td>
                    <td>
                        <label>Login Email</label>
                        <p>
                            {{VendorData.Email}} 
                          

                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Contact Email</label>
                        <p>
                            {{VendorData.ContactEmail}} 
                        </p>
                    </td>
                    <td>
                        <label>Designation</label>
                        <p>{{VendorData.Designation}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Mobile Number</label>
                        <p>{{VendorData.CountryCode + " " + VendorData.MobileNumber}}</p>
                    </td>
                    <td>
                        <label>Phone Number</label>
                        <p>{{VendorData.ISD_STDCode + " " + VendorData.PhoneNumber}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Date of Birth</label>
                        <p>{{VendorData.DOB | date: dd-MMM-yyyy}}</p>

                    </td>
                    <td>
                        <label>Bidder Pre Registered With</label>
                        <p>{{VendorData.BidderPreRegisteredWith}}</p>
                    </td>


                </tr>
                <tr ng-show="BidderPreReg">
                    <td>
                        <label>Udyog Aadhar Number</label>
                        <p>{{VendorData.UdyogAadharNumber}}</p>
                    </td>
                    <td>
                        <label>Organisation Type</label>
                        <p>{{VendorData.OrganisationType}}</p>
                    </td>
                </tr>
                <tr ng-show="BidderPreReg">

                    <td>
                        <label>Bidder Registered Type</label>
                        <p>{{VendorData.BidderRegisteredType}}</p>
                    </td>
                    <td ng-show="catdisp">
                        <label>Category</label>
                        <p>{{VendorData.Category}}</p>
                    </td>
                </tr>
            </table>

            <input type="button" value="Back" ng-click="ViewList = true" />
            <input type="button" value="Approved" ng-click="ApproveVendorFunc()" class="btn-primary"/>
        </div>
    </div>
</div>